<ion-header>  
  <ion-toolbar color="primary">  
    <ion-buttons slot="start">  
      <ion-menu-button color="dark"></ion-menu-button>   
    </ion-buttons>  
    <ion-title>  
      Liste des évènements
    </ion-title>  
  </ion-toolbar>   
</ion-header>  

<ion-content [fullscreen]="true">
  


  <ion-searchbar placeholder="Chercher" [(ngModel)]="searchTerm" showCancelButton="focus" animated></ion-searchbar>
  <ion-list lines="none">
    <ion-card *ngFor="let item of allEvents|filter:searchTerm">
      <img [src]="item.imageURL">
      <ion-item>
        <ion-label>{{ item.title }}</ion-label>
      </ion-item>
    <ion-item>
      <ion-label text-wrap>{{ item.description }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Début:</b> {{ item.startTime }}</ion-label>
    </ion-item>
    <ion-item>
      <ion-label><b>Fin:</b> {{ item.endTime }}</ion-label>
    </ion-item>
    </ion-card>
  </ion-list>
 

  
</ion-content>
